/** CUSTOM CSS **/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
:root {
  --body-font: "Montserrat", sans-serif;
  --body-background: rgba(18, 57, 95, 0.685);
  --nav-background: linear-gradient(
    /* test */ to right top,
    rgb(14, 179, 255),
    rgb(1, 0, 78)
  );
  --first-color: rgb(35, 61, 110);
  --first-color-alt: rgb(48, 107, 217);
  --title-color: rgb(241, 242, 243);
  --text-color: rgb(131, 137, 149);
  --hover-color: rgba(85, 85, 85, 0.4);
  --hover-scrolled-color: rgba(85, 85, 85, 0.4);
  --white-color: rgb(255, 255, 255);
  --body-color: rgb(10, 10, 11);
  --container-color: rgb(242, 242, 243);
  --card-color: rgba(255, 255, 255, 0.9);

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font: 0.938rem;
  --small-font: 0.813rem;
  --smaller-font: 75rem;
  --font-medium: 500;
  --font-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  box-sizing: border-box;
}

.error_404 {
  height: auto;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
